.container{
	background-color: #F9E9E9;
	width: 900px;
}
.jumbotron{
	background-color: skyblue;
	height: 200px;

}
.nav{
	background-color: black;
	margin: 2px 5px 2px 5px;
}
.ul{
	margin-left: 200px;
}
.box{
	font-size: 30px;
	color: white;
	position: center;
	padding-left: 300px;

}
}
.color{
	background-color: blue;
}

.body{
	background-color: #D26464;
}
.h3{
	font-size: 20px;
}